.homeSidebar {
 flex: 3;
  height: fit-content;
  font-family: "Varela Round", sans-serif;
  padding-bottom: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
 
}

.homeSidebar h1 {
    margin: 20px;
    margin-left: 0;
   
   
}